{% extends "base.html" %}
{% block title %} Homepage Lunchgry {% endblock %}
{% block body %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<h4>
				Examens Module 164 du 11.06.2022
			</h4>
			<h5>
				Base de donnée sur un concept d'application utile à réaliser lors du module 164<br>
			</h5>
			<ul>
				<li class="list-item">
					Pour plus d'info :  <span class="large"><a href="https://github.com/D4rkHeart/Surdez_Leonardo_Info1D_AppRestaurant_164_V3TABLES/blob/master/readme.md" target="_blank">Lire le README.md.</a></span>
				</li>
			</ul>
		</div>
	</div>
</div>
{% endblock %}
