{% extends "base.html" %}
{% block title %} Afficher plats {% endblock %}
{% block body %}
<div class="container">
	<div class="row">
		<div class="col-md-12">
			<p>
				Plats à disposition.
			</p>
            <table class="table table-bordered table-sm">
            {% if data %}
                <thead>
                    <tr>
                        <th class="align-middle">
                            Id
                        </th>
                        <th class="align-middle">
                            Plats
                        </th>
                        <th class="align-middle">
                            Type
                        </th>
                        <th class="align-middle">
                            Temperature
                        </th>
                        <th class="align-middle">
                            Date de modification
                        </th>
                        <th class="align-middle">
                        </th>
                    </tr>
                </thead>
            {% endif %}

            {% for row in data %}
				<tbody>
					<tr>
						<td class="align-middle">
							{{ row.id_plat }}
						</td>
						<td class="align-middle">
							{{ row.plat_nom }}
						</td>
                        <td class="align-middle">
							{{ row.plat_type }}
						</td>
                        <td class="align-middle">
							{{ row.plat_est_chaud}}
						</td>
                        <td class="align-middle">
							{{ row.updated_at }}
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-primary" href="{{ url_for('plats_ajouter') }}" role="button">Ajouter</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-warning" href="{{ url_for('plats_update', id_plat_btn_edit_html=row.id_plat) }}" role="button">Edit</a>
						</td>
						<td class="text-center" class="align-middle">
							<a class="btn btn-danger" href="{{ url_for('plats_delete', id_plat_btn_delete_html=row.id_plat) }}" role="button">Delete</a>
						</td>
					</tr>
				</tbody>
            {% else %}
				<tbody>
					<tr>
						<td>
							Aucun pays.
						</td>
						<td>
							<a class="btn btn-primary" href="{{ url_for('plats_ajouter') }}" role="button">Ajouter</a>
						</td>
					</tr>
				</tbody>
            {% endfor %}
			</table>
		</div>
	</div>
</div>
{% endblock %}

